.container {
    display: flex;
    width: 100%;
    border: 1px red solid;
    flex-direction: row;
}
.list {
    width: 100%;
}
.addGoalsContainer {
    background: yellow;
    border: 1px red solid;
    width: 100%
}
.addGoals {
    margin: 100px;
    color: red;
    font-weight: bold;
    border: 1px green solid
}
